{% extends "base.html" %}

        {% if group_page_data %}
	        {% csrf_token %}
	        <div id="wrapper">
		        <!-- Sidebar Wrapper -->
		        <div id="sidebar-wrapper" style="background: #d2dce1; border: 1px solid #cccccc;">
		            <div style="padding: 20px;" align="center">
			            <h3 align="center"><b>{{group_page_data.group_name}}</b></h3>
			            <p align="center">{{group_page_data.intro}}</p>
			            <br>
			            <p align="center">Create at {{group_page_data.created_time}}</p>
			            <p align="center">Finish at {{group_page_data.finished_time}}</p>
			            <p align="center">Members: {{group_page_data.member_num}}</p>
			            {% if group_page_data.private == 0 %}
					        <p align="center">Public group</p>
				        {% else %}
					        <p align="center">Private group</p>
				        {% endif %}

				        
		               
				        <div class="progress">
		                    <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
		                <button id="join_group_btn" class="btn btn-lg  btn-success" onclick="joinGroup('{{ group_page_data.group_id }}');" >JOIN</button>
			        </div>
		        </div>
	            <div id="page-content-wrapper">
		            <!-- Container -->
                    <div class="container-fluid" id="myContent">
                    </div>

		            <div class="shine">Shine...</div>

<script>

$(function(){
	var i = 14;
    setInterval(flicker,1500);//迴圈閃爍，間隔1秒
})
function flicker(){//閃爍函數
    $('.shine').fadeOut(750).fadeIn(750);
	$('.shine').css('font-size', $('.shine').css('font-size')+1);
}

</script>
	            </div>
	        </div>
        {% endif %}



        <!-- Modal -->
		<div id="add_news_Modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div id="namediv">
							<h4 class="modal-title">Title</h4>
							<input type="text" class="form-control" name="news_title" id="news_title" placeholder="Title">
						</div>
					</div>
					<div class="modal-body">
						<div id="contentdiv">
							<label>Content</label>
							<textarea class="form-control" name="news_content" id="news_content" rows="3"></textarea>
							<hr>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="add_group_news('{{group_page_data.group_id}}')">Post</button>
					</div>
				</div>
			</div>
		</div>