<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <title>Study Group</title>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		
        {% load static %}
        <script src="{% static 'javascript/js_cookie.js'  %}"></script>
	    <script src="{% static 'javascript/jquery-te-1.4.0.js' %}"></script>
        <script src="{% static 'javascript/moment.min.js' %}"></script>
        <script src="{% static 'javascript/fullcalendar.js' %}"></script>
        <script src="{% static 'javascript/group.js' %}"></script>
	    <script src="{% static 'javascript/nicEdit.js' %}"></script>
		<link href="{% static 'stylesheets/jquery-te-1.4.0.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'stylesheets/group.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'stylesheets/fullcalendar.css' %}" rel="stylesheet" type="text/css"/>
	    <link href="{% static 'stylesheets/simple-sidebar.css' %}" rel="stylesheet" type="text/css"/>

	    <script type="text/javascript">
		    var nic = nicEditors;
		    bkLib.onDomLoaded(function() { nic.allTextAreas(); });

		    $(document).ready(function() {
			    $('#datepicker').datepicker({dateFormat:'yy-mm-dd', changeMonth:true, changeYear:true});
			    // Check whether member
			    if(user_id != undefined) {
				    var user_no = Cookies.get('user_no');
				    if(user_no != undefined) {
					    var tmp = '{{ group_page_data.group_member }}'.split(',');
					    member = 0;
					    for(var i = 0; i < tmp.length ; i++) {
						    if(user_no == tmp[i])
							    member = 1;
					    }
				    }
				    if(member){
					    $('#join_group_btn').hide();
					    $('.member-btn').show();
				    }else{
					    $('#join_group_btn').show();
					    $('.member-btn').hide();
				    }
			    } else {
				    $('#join_group_btn').show();
				    $('.member-btn').hide();
			    }
			    // Check whether admin
			    if(user_id != undefined && user_id == '{{ group_page_data.creator }}')
				    admin = 1;

			});
			function gotoinf(){
            	userid = Cookies.get("user_id");
            	Cookies.set("mail",1);
            	window.location = '/user/' + user_id;
}
	    </script>

    </head>
    <body onload="checkShowLoginDiv(); setuser_no(); showprogress('{{group_page_data.created_time}}','{{ group_page_data.finished_time}}'); showNews('{{group_page_data.group_id}}')">

        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="NavBar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand" style="color: #ddd; border: #000 1px;"><b>Study Group</b></a>
                </div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left navtabs">
						<li role="presentation" class="active"><a href="#" onclick="showNews('{{group_page_data.group_id}}')">News</a></li>
						<li role="presentation"><a href="#" onclick="showSchedule('{{group_page_data.group_id}}')">Schedule</a></li>
						<li role="presentation"><a href="#" onclick="showMaterials('{{group_page_data.group_id}}')">Materials</a></li>
						<li role="presentation"><a href="#" onclick="showThoughts('{{ group_page_data.group_id }}')">Thoughts</a></li>
						<li role="presentation"><a href="#" onclick="Group_Member_inf('{{ group_page_data.group_id }}');">Members</a></li>
					</ul>
					<button type="button" width='100px' class="btn btn-primary navbar-btn navbar-left" id="show_mail_button" style="display:none;" onclick="gotoinf()">You have a new mail.</button>
					
					<script>    // change active tab
						$(".nav a").on("click", function(){
							if(this.innerHTML != 'Members') {
								$(".nav").find(".active").removeClass("active");
								$(this).parent().addClass("active");
							}
						});
					</script>

					<ul class="nav navbar-nav navbar-right" id="navbar-button" style="display: none;">
						<li><a href="#" onclick="getMyInfoURL();">My Information</a></li>
						<li><a href="#" onclick="logout();">Log Out</a></li>
					</ul>
					<button type="button" class="btn btn-primary navbar-btn navbar-right" id="create_group_button" data-toggle="modal" data-target="#create_group_Modal" style="display: none;">Create Group</button>
					<script>
						$('#create_group_button').on('click', function() {
							nic.findEditor("intro").remove();
							$('#intro').val('');
						});
					</script>
				</div>
            </div>
        </nav>

        <!--header>
	        <div class="exp">
                <b>LV.20</b>
                <div id="user_exp">
	                <div class="progress">
		                <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            
                        </div>
                    </div>
                </div>
            </div>
        </header-->
        <br class="space">

        {% if group_page_data %}
	        {% csrf_token %}
	        <div id="wrapper">
		        <!-- Sidebar Wrapper -->
		        <div id="sidebar-wrapper" style="background: #d2dce1; border: 1px solid #cccccc;">
		            <div style="padding: 20px;" align="center">
			            <h3 align="center"><b>{{group_page_data.group_name}}</b></h3>
			            <p align="center">{{group_page_data.intro}}</p>
			            <br>
			            <p align="center">Create at {{group_page_data.created_time}}</p>
			            <p align="center">Finish at {{group_page_data.finished_time}}</p>
			            <p align="center">Members: {{group_page_data.member_num}}</p>
			            {% if group_page_data.private == 0 %}
					        <p align="center">Public group</p>
				        {% else %}
					        <p align="center">Private group</p>
				        {% endif %}

				        
		               
				        <div class="progress">
		                    <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
		                <button id="join_group_btn" class="btn btn-lg btn-success" onclick="joinGroup('{{ group_page_data.group_id }}');" >JOIN</button>
			            <button type="button" class="btn btn-primary member-btn" id="send_mail_button" data-toggle="modal" data-target="#send_mail_Modal">Send Mail</button>
			        </div>
		        </div>
	            <div id="page-content-wrapper">
		            <!-- Container -->
                    <div class="container-fluid" id="myContent">

 <!--script>


</script-->


	            </div>
	        </div>
        {% endif %}

        <!-- Send Mail Modal -->
        <div id="send_mail_Modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div id="titlediv">
							<h4 class="modal-title">Title</h4>
							<input type="text" class="form-control" name="title" id="title" placeholder="Title">
						</div>
					</div>
					<div class="modal-body">
						<div id="contentdiv">
							<label>Content</label>
							<textarea class="form-control editor" name="content" id="content" rows="3"></textarea>
							<hr>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="send_mail_submit('{{ group_page_data.group_id }}')">Create</button>
					</div>
				</div>
			</div>
		</div>
        <!-- Add News Modal -->
		<div id="add_news_Modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div id="namediv">
							<h4 class="modal-title">Title</h4>
							<input type="text" class="form-control" name="news_title" id="news_title" placeholder="Title">
						</div>
					</div>
					<div class="modal-body">
						<div id="contentdiv">
							<label>Content</label>
							<textarea class="form-control editor" name="news_content" id="news_content" rows="3"></textarea>
							<hr>
							<script>
								$('#add_news_Modal').on('click', function() {
									nic.findEditor("news_content").remove();
								});

							</script>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="add_group_news('{{group_page_data.group_id}}')">Post</button>
					</div>
				</div>
			</div>
		</div>

        <!-- Add Material Modal -->
		<div id="add_materials_Modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div id="namediv">
							<h4 class="modal-title">Title</h4>
							<input type="text" class="form-control" name="materials_title" id="materials_title" placeholder="Title">
						</div>
					</div>
					<div class="modal-body">
						<div id="contentdiv">
							<label>Content</label>
							<textarea class="form-control editor" name="materials_content" id="materials_content" rows="3"></textarea>
							<hr>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="add_materials('{{group_page_data.group_id}}')">Post</button>
					</div>
				</div>
			</div>
		</div>

        <!-- New Thought Modal -->
		<div id="new_thoughts_Modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div id="namediv">
							<h4 class="modal-title">Title</h4>
							<input type="text" class="form-control" name="thought_title" id="thought_title" placeholder="Title">
						</div>
					</div>
					<div class="modal-body">
						<div id="contentdiv">
							<label>Content</label>
							<textarea class="form-control editor" name="thought_content" id="thought_content" rows="3"></textarea>
							<hr>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="postThought('{{group_page_data.group_id}}')">Post</button>
					</div>
				</div>
			</div>
		</div>

        <!-- Create Group Modal -->
		<div id="create_group_Modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div id="namediv">
							<h4 class="modal-title">Group Name</h4>
							<input type="text" class="form-control" name="group_name" id="group_name" placeholder="要將讀書會取作什麼呢？">
								</div>
					</div>
					<div class="modal-body">
						<div id="introdiv">
							<label>Introduction</label>
							<textarea class="form-control" name="intro" id="intro" rows="3"></textarea>
							<hr>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-2">
								<label>隱私性</label>
								<div class="radio">
									<input type="radio" name="private" id="private_op1"  value="0" checked>public
									</br>
									<input type="radio" name="private" id="private_op2"  value="1">private
								</div>
							</div>
							<div id="timediv" class="col-md-4">
								<label>結束時間</label>
								<div>
									<input id="datepicker" type="text">
								</div>
							</div>
						</div>

						<div id="clear" style="clear: both"></div>

						<hr>
						<div id="member_limitdiv">
							<fieldset>
								<label for="sel1">人數上限 (0為無限制)</label>
								<select name="member_limit" class="form-control" id="sel1">
									<option>0</option>
									<option>5</option>
									<option>10</option>
									<option>15</option>
									<option>20</option>
								</select>
							</fieldset>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="creategroup_submit()">Create</button>
					</div>
				</div>
			</div>
		</div>

        <!-- Footer -->
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
			<ul>
		        <li class="copyright" type="none" align="center" style="color: #eee;vertical-align:middle;">Copyright © 2015 Study Group ALL Rights Reserved.</li>
	        </ul>
        </nav>

    </body>
</html>