<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
		<meta charset="utf-8">
        <title>Study Group</title>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		
        {% load static %}
        <link href="{% static 'stylesheets/index.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'javascript/js_cookie.js' %}"></script>
        <script src="{% static 'javascript/index.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
				//document.getElementById('finished_time_date').valueAsDate = new Date();
	            $('#datepicker').datepicker({dateFormat:'yy-mm-dd', changeMonth:true, changeYear:true});
	            checkShowLoginDiv();
            });
		</script>
    </head>
    <body onload="checkShowLoginDiv();">
		
		<!-- Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="NavBar" style="background-color: transparent; border: 0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand" style="color: #ddd; border: #000 1px;"><b>Study Group</b></a>
                </div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right" id="navbar-button" style="display: none;">
						<li></li>
						<li><a href="#" onclick="getMyInfoURL()">My Information</a></li>
						<li><a href="#" onclick="logout()">Log Out</a></li>
					</ul>
					<button type="button" class="btn btn-primary navbar-btn navbar-right" id="create_group_button" data-toggle="modal" data-target="#create_group_Modal" style="display: none;">Create Group</button>

				</div>
            </div>
        </nav>


        <header id="about-us" align="center" type="hidden">
            <div class="header-mask"></div>
            <br class="space">
            <br class="space">
            <div class="header-slogan center">
                <h1>Work Hard And Play Hard</h1>
                <hr>
	            <!-- TODO: text font size and arrow size -->
                <p>We come up with an idea that will help you and your group members to engage in learning together. We provide a platform you can invite your friends or meet someone you do not know to join the study groups and share the same interests. There are some factors related to gamification such as achievement badges, ranking and levels.</p>
            </div>

			<button class="btn btn-success" onclick="checkLoginState();">Login with FB</button>
            <!--div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" scope="user_profile,email" ></div-->
            <div class="arrow-down center" style="margin-top: 24px;">
                <i class="material-icons">keyboard_arrow_down</i></br>
                <i class="material-icons" style="margin-top: -20px;">keyboard_arrow_down</i>
            </div>
        </header>

		<!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Recommended Groups</h2>
                    <br class="space">
                </div>
				
				<!-- TODO: creator name + member number-->
				{% if group_data %}
					{% for group in group_data %}
						{% if group.private %}
						<div class="col-md-4">
							<div class="panel panel-warning">
								<div class="panel-heading">
									<a href="/group/{{ group.group_id }}/">
										<div><h4 align="center">{{ group.group_name }}</h4></div>
									</a>
								</div>
								<div class="panel-body">
									<p align="center">{{ group.intro }}</p>
									<hr>
									<p>
									Period: {{ group.created_time }} ~ {{ group.finished_time }}<br>
									Member: {{ group.member_num }} / {{ group.member_limit }}<br>
									Creator: {{ group.creator }}
									</p>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
					
					
                </div>
                <!--div class="col-md-12" align="center">
                    <button class="btn btn-success" id="more">Show More</button>
                </div-->
            </div>
        </div>
		
		
		<!--button onclick="test();">Test Button</button>
		<script>
			function test() {
				$('body').css('padding-top', '70px');
				$('#about-us').hide();
				$('#navbar-button').show();
				$('#create_group_button').show();
				$('#NavBar').css('background-color', 'black');
				$('a.navbar-brand').css('color', '#dddddd');
			}
		</script-->
		
		<!-- Modal -->
		<div id="create_group_Modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div id="namediv">
							<h4 class="modal-title">Group Name</h4>
							<input type="text" class="form-control" name="group_name" id="group_name" placeholder="要將讀書會取作什麼呢？" autofocus>
								</div>
					</div>
					<div class="modal-body">
						<div id="introdiv">
							<label>Introduction</label>
							<textarea class="form-control" name="intro" id="intro" rows="3"></textarea>
							<hr>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-2">
								<label>隱私性</label>
								<div class="radio">
									<input type="radio" name="private" id="private_op1"  value="0" checked>public
									</br>
									<input type="radio" name="private" id="private_op2"  value="1">private
								</div>
							</div>
							<div id="timediv" class="col-md-4">
								<label>結束時間</label>
								<div>
									<input id="datepicker" type="text">
								</div>
							</div>
						</div>
						
						<div id="clear" style="clear: both"></div>
						
						<hr>
						<div id="member_limitdiv">
							<fieldset>
								<label for="sel1">人數上限 (0為無限制)</label>
								<select name="member_limit" class="form-control" id="sel1">
									<option>0</option>
									<option>5</option>
									<option>10</option>
									<option>15</option>
									<option>20</option>
								</select>
							</fieldset>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="creategroup_submit()">Create</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
        <footer>
            <ul>
                <li class="copyright" type="none" align="center" style="color: #eee;vertical-align:middle;">Copyright © 2015 Study Group ALL Rights Reserved.</li>
            </ul>
            <br class="space">
        </footer>

    </body>


</html>